.cart {
  width: 100%;
  margin: auto;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  // border: 1px solid red;
  .bill {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: right;
    margin-top: 1rem;
  }
  .button {
    display: block;
    width: 70%;
    background-color: red;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 2rem;

  }
}
.fix {
  width: 90%;
  margin-bottom: 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  div{
    width: 200px;
  }
}
.cartCard {
  width: 100%;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 1rem;

  padding: 10px;
  .img{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  img {
    width: 130px;
    height: 100px;
  }
  .heading {
    font-size: 1.25rem;
    margin-left: 1rem;
  }
  
  .delete {
    // margin-top: 1.4rem;
    background-color: red;
    color: white;
    // margin-left: 20px;
  }
}
.no {
  font-size: 1.8rem;
  white-space: nowrap;
  font-weight: 600;
  text-align: center;
  margin-top: 2rem;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    margin-top: -1.55rem;
  }
}
