
.card {
  background-color: #f9fbf2;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
 
  margin-left: 10px;
  padding-bottom: 1rem;
  height: 480px;
}

.grid-container {
  display: grid;
  width: 100%;
  margin: auto; 
  gap: 1.2rem;  
  .btn {
    display: flex;
    margin: auto;
    padding: 10px;
  }
  .content {
    margin-left: 1rem;
  }
  .out{
    color:red
  }
}
.main {  
  .heading {
    text-align: center;
    background-color: #778DA9;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 90%;
    margin: auto;
    color:white;
    font-weight: bolder;
    border-radius: 5px;
  }
}
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Further adjustment for even smaller screens */
@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.lead{
  display: flex;
 height: 93.3vh;
//  border: 1px solid red;

 .products{
  height: 100%;
  overflow-x: auto;
 }
 .carts{ 
  width: 25%;
  height: 100%;
  overflow-x: auto;
  padding-right: 1rem;
 }
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  margin-Top:1rem
  button{
    display: block;
  }
}